*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background: #F5F5F5;
	height: 45px;
}

/*TOP*/

#Top{
	display: flex;
	width: 80%;
	margin: auto;
	align-items: center;
	height: 100%;
}

#Top #right{
	margin-left: auto;
}

#right ul{
	display: flex;
}

#right ul li{
	list-style: none;
	margin: 0 5px;
}

#right ul li a:hover{
	color: red;
}

/*MIDDLE*/

#middle{
	display: flex;
}

#rights ul{
	display: flex;
}

#middle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#rights ul {
    display: flex;
}

#rights ul li{
	list-style: none;
	margin: 0 10px;
}


.fa-cart-plus,.fa-heart,.fa-search{
	background: #F4F4F4;
	padding: 10px;
	border-radius: 50%;
}

#search input{
	height: 32px;
}
