*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background: #F5F5F5;
	height: 45px;
}

/*TOP*/

#Top{
	display: flex;
	width: 80%;
	margin: auto;
	align-items: center;
	height: 100%;
}

#Top #right{
	margin-left: auto;
}

#right ul{
	display: flex;
}

#right ul li{
	list-style: none;
	margin: 0 5px;
}

#right ul li a:hover{
	color: red;
}

/*MIDDLE*/

#middle{
	display: flex;
}

#rights ul{
	display: flex;
}

#middle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#rights ul {
    display: flex;
}

#rights ul li{
	list-style: none;
	margin: 0 10px;
}


.fa-cart-plus,.fa-heart,.fa-search{
	background: #F4F4F4;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
}

#search{
	    width: 215px;
    position: relative;
}

#search input{
	    height: 36px;
    position: absolute;
    right: 0px;
    width: 16%;
    transition: 0.5s;
    border-radius: 16px 19px 19px 16px;
}

#search i{
	    position: absolute;
    /*z-index: 9;*/
    right: 0;
}

#search input:hover{
	width: 100%;
}

#test:hover input{
	width: 100%;
}

#test:hover i{
	background: red;
	color: #fff;
}

.fa-cart-plus:hover, .fa-heart:hover{
	background: red;
	color: #fff;
}

#row{
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	width: 100%;
}

#cart{
	position: relative;
}

#row img{
	width: 85px;
}

