*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*TOP*/

#fullwith{
	background: #F5F5F5;
	height: 45px;
}

#Top{
	display: flex;
    width: 80%;
    margin: auto;
    height: 100%;
    align-items: center;
}

#Top #right{
	margin-left: auto;
}

#right ul{
	display: flex;
}

#right ul li{
	list-style: none;
	margin: 0 5px;
}

#right ul li a:hover{
	color: red;
}

/*MIDDLE*/

#middle{
	display: flex;
}

#rights ul{
	display: flex;
}

#middle {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#rights ul {
    display: flex;
}

#rights ul li{
	list-style: none;
	margin: 0 18px;
}


.fa-cart-plus,.fa-heart,.fa-search{
	background: #F4F4F4;
	padding: 10px;
	border-radius: 50%;
	cursor: pointer;
}

#search{
	    width: 215px;
    position: relative;
}

#search input{
	    height: 36px;
    position: absolute;
    right: 0px;
    width: 16%;
    transition: 0.5s;
    border-radius: 16px 19px 19px 16px;
}

#search i{
	    position: absolute;
    /*z-index: 9;*/
    right: 0;
}

#search input:hover{
	width: 100%;
}

#test:hover input{
	width: 100%;
}

#test:hover i{
	background: red;
	color: #fff;
}

.fa-cart-plus:hover, .fa-heart:hover{
	background: red;
	color: #fff;
}

#container{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(200px,max-content));
	align-items: center;
	justify-content: center;
	margin: 20px auto;
}

.mainCart{
	text-align: center;
	background: #FFFFFF;
	margin: 5px;
}

.mainCart img{
	width: 200px;
}

.mainCart button{
	background: #81D2A2;
	padding: 6px;
	color: #fff;
}

#cart span{
	position: absolute;
	background: yellow;
	border-radius: 50%;
	width: 18px;
	text-align: center;
}


/*SHOPPING CART*/

	#cartImage img{
			width: 80px;
		}

		#close{
			display: inline-block;
			cursor: pointer;
		}

		#shopCart{
			background: #F1F3F4;
			width: 40%;
			position: fixed;
			top: 0;
			right: 0;
			height: 100%;
			transition: 0.5s;
			transform: translateX(100%);
		}
		#total,#cartTop,#cartMiddle,#cartBottom{
			text-align: center;
			margin: 8px;
		}
		#cartMiddle, #imageNamePrice{
			display: flex;
		}

		#cartMiddle{
			justify-content: space-evenly;
		}

		#cartIcon{
			display: inline-block;
			cursor: pointer;
		}

